h1, .h1 {
  font-family: $font;
  font-size: 18px;
  font-weight: $medium;
  line-height: 1.3em;
}

h2, .h2 {
  font-family: $font;
  font-size: 36px;
  font-weight: $medium;
  line-height: 1.2em;
}

h3, .h3 {
  font-family: $font;
  font-size: 16px;
  font-weight: $medium;
  line-height: 1.2em;
}

h6, .h6 {
  font-family: $font;
  font-size: 13px;
  font-weight: $regular;
  line-height: 1.2em;
}

p {
  font-family: $font;
  font-size: 16px;
  font-weight: $regular;
  line-height: 1.2em;
}

span {
  font-family: $font;
  font-size: 14px;
  font-weight: $regular;
  line-height: 1.2em;
}

small {
  font-family: $font;
  font-size: 8px;
  font-weight: $regular;
  line-height: 1.2em;
}
