<div class="abas">
    <div class="abas__topic flex--sb col-12">
        <div id="nomeItem1" class="abas__topic-item flex--ct col-4 active">Tab 1</div>
        <div id="nomeItem2" class="abas__topic-item flex--ct col-4">Tab 2</div>
        <div id="nomeItem3" class="abas__topic-item flex--ct col-4">Tab 3</div>
    </div>
    
    <div class="abas__body col-12">
        <div id="tab-nomeItem1" class="abas__body-content active">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum fermentum in ut neque. Proin faucibus molestie fringilla. Sed vitae congue neque. In dictum laoreet velit a euismod. Aenean mattis rutrum fermentum. Proin non augue mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum.</p>
        </div>
        <div id="tab-nomeItem2" class="abas__body-content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus fugiat sequi suscipit impedit. Commodi omnis excepturi vel cumque ipsam, voluptatibus ad debitis obcaecati tempore sed dolorum dolore reiciendis voluptatum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nulla harum velit veniam ipsam atque inventore. Reprehenderit, a blanditiis? Vero iure incidunt quibusdam, dolores repellendus autem voluptates animi aperiam! Voluptate.</p>
        </div>
        <div id="tab-nomeItem3" class="abas__body-content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat blanditiis, sapiente, ipsa itaque repudiandae fuga impedit accusantium illo iure asperiores eius nemo deleniti ullam aperiam labore debitis. Praesentium, commodi voluptatibus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nemo quod minima doloribus possimus illo debitis! Repudiandae voluptatibus dolore, exercitationem blanditiis eaque non cumque quo nemo pariatur itaque, accusantium sequi.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus eius dolorum iusto, architecto doloribus iure est illo omnis odit dicta ad distinctio beatae temporibus minima suscipit veniam excepturi dignissimos doloremque.</p>
        </div>
    </div>
</div>

<div class="abas abas--rounded">
    <div class="abas__topic flex--sb col-12">
        <div id="nomeItem1" class="abas__topic-item flex--ct col-4 active">Tab 1</div>
        <div id="nomeItem2" class="abas__topic-item flex--ct col-4">Tab 2</div>
        <div id="nomeItem3" class="abas__topic-item flex--ct col-4">Tab 3</div>
    </div>
    
    <div class="abas__body col-12">
        <div id="tab-nomeItem1" class="abas__body-content active">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum fermentum in ut neque. Proin faucibus molestie fringilla. Sed vitae congue neque. In dictum laoreet velit a euismod. Aenean mattis rutrum fermentum. Proin non augue mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum.</p>
        </div>
        <div id="tab-nomeItem2" class="abas__body-content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus fugiat sequi suscipit impedit. Commodi omnis excepturi vel cumque ipsam, voluptatibus ad debitis obcaecati tempore sed dolorum dolore reiciendis voluptatum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nulla harum velit veniam ipsam atque inventore. Reprehenderit, a blanditiis? Vero iure incidunt quibusdam, dolores repellendus autem voluptates animi aperiam! Voluptate.</p>
        </div>
        <div id="tab-nomeItem3" class="abas__body-content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat blanditiis, sapiente, ipsa itaque repudiandae fuga impedit accusantium illo iure asperiores eius nemo deleniti ullam aperiam labore debitis. Praesentium, commodi voluptatibus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nemo quod minima doloribus possimus illo debitis! Repudiandae voluptatibus dolore, exercitationem blanditiis eaque non cumque quo nemo pariatur itaque, accusantium sequi.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus eius dolorum iusto, architecto doloribus iure est illo omnis odit dicta ad distinctio beatae temporibus minima suscipit veniam excepturi dignissimos doloremque.</p>
        </div>
    </div>
</div>

<div class="abas abas--secondary">
    <div class="abas__topic flex--sb col-12">
        <div id="nomeItem1" class="abas__topic-item flex--ct col-4 active">Tab 1</div>
        <div id="nomeItem2" class="abas__topic-item flex--ct col-4">Tab 2</div>
        <div id="nomeItem3" class="abas__topic-item flex--ct col-4">Tab 3</div>
    </div>
    
    <div class="abas__body col-12">
        <div id="tab-nomeItem1" class="abas__body-content active">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum fermentum in ut neque. Proin faucibus molestie fringilla. Sed vitae congue neque. In dictum laoreet velit a euismod. Aenean mattis rutrum fermentum. Proin non augue mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum.</p>
        </div>
        <div id="tab-nomeItem2" class="abas__body-content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus fugiat sequi suscipit impedit. Commodi omnis excepturi vel cumque ipsam, voluptatibus ad debitis obcaecati tempore sed dolorum dolore reiciendis voluptatum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nulla harum velit veniam ipsam atque inventore. Reprehenderit, a blanditiis? Vero iure incidunt quibusdam, dolores repellendus autem voluptates animi aperiam! Voluptate.</p>
        </div>
        <div id="tab-nomeItem3" class="abas__body-content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat blanditiis, sapiente, ipsa itaque repudiandae fuga impedit accusantium illo iure asperiores eius nemo deleniti ullam aperiam labore debitis. Praesentium, commodi voluptatibus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nemo quod minima doloribus possimus illo debitis! Repudiandae voluptatibus dolore, exercitationem blanditiis eaque non cumque quo nemo pariatur itaque, accusantium sequi.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus eius dolorum iusto, architecto doloribus iure est illo omnis odit dicta ad distinctio beatae temporibus minima suscipit veniam excepturi dignissimos doloremque.</p>
        </div>
    </div>
</div>

<div class="abas flex--sb">
    <div class="abas__topic col-4">
        <div id="nomeItem1" class="abas__topic-item flex--ct active">Tab 1</div>
        <div id="nomeItem2" class="abas__topic-item flex--ct">Tab 2</div>
        <div id="nomeItem3" class="abas__topic-item flex--ct">Tab 3</div>
    </div>
    
    <div class="abas__body col-8">
        <div id="tab-nomeItem1" class="abas__body-content active">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum fermentum in ut neque. Proin faucibus molestie fringilla. Sed vitae congue neque. In dictum laoreet velit a euismod. Aenean mattis rutrum fermentum. Proin non augue mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum.</p>
        </div>
        <div id="tab-nomeItem2" class="abas__body-content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus fugiat sequi suscipit impedit. Commodi omnis excepturi vel cumque ipsam, voluptatibus ad debitis obcaecati tempore sed dolorum dolore reiciendis voluptatum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nulla harum velit veniam ipsam atque inventore. Reprehenderit, a blanditiis? Vero iure incidunt quibusdam, dolores repellendus autem voluptates animi aperiam! Voluptate.</p>
        </div>
        <div id="tab-nomeItem3" class="abas__body-content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat blanditiis, sapiente, ipsa itaque repudiandae fuga impedit accusantium illo iure asperiores eius nemo deleniti ullam aperiam labore debitis. Praesentium, commodi voluptatibus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nemo quod minima doloribus possimus illo debitis! Repudiandae voluptatibus dolore, exercitationem blanditiis eaque non cumque quo nemo pariatur itaque, accusantium sequi.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus eius dolorum iusto, architecto doloribus iure est illo omnis odit dicta ad distinctio beatae temporibus minima suscipit veniam excepturi dignissimos doloremque.</p>
        </div>
    </div>
</div>

<div class="abas abas--rounded flex--sb">
    <div class="abas__topic col-4">
        <div id="nomeItem1" class="abas__topic-item flex--ct active">Tab 1</div>
        <div id="nomeItem2" class="abas__topic-item flex--ct">Tab 2</div>
        <div id="nomeItem3" class="abas__topic-item flex--ct">Tab 3</div>
    </div>
    
    <div class="abas__body col-8">
        <div id="tab-nomeItem1" class="abas__body-content active">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum fermentum in ut neque. Proin faucibus molestie fringilla. Sed vitae congue neque. In dictum laoreet velit a euismod. Aenean mattis rutrum fermentum. Proin non augue mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum.</p>
        </div>
        <div id="tab-nomeItem2" class="abas__body-content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus fugiat sequi suscipit impedit. Commodi omnis excepturi vel cumque ipsam, voluptatibus ad debitis obcaecati tempore sed dolorum dolore reiciendis voluptatum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nulla harum velit veniam ipsam atque inventore. Reprehenderit, a blanditiis? Vero iure incidunt quibusdam, dolores repellendus autem voluptates animi aperiam! Voluptate.</p>
        </div>
        <div id="tab-nomeItem3" class="abas__body-content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat blanditiis, sapiente, ipsa itaque repudiandae fuga impedit accusantium illo iure asperiores eius nemo deleniti ullam aperiam labore debitis. Praesentium, commodi voluptatibus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nemo quod minima doloribus possimus illo debitis! Repudiandae voluptatibus dolore, exercitationem blanditiis eaque non cumque quo nemo pariatur itaque, accusantium sequi.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus eius dolorum iusto, architecto doloribus iure est illo omnis odit dicta ad distinctio beatae temporibus minima suscipit veniam excepturi dignissimos doloremque.</p>
        </div>
    </div>
</div>

<div class="abas abas--secondary flex--sb">
    <div class="abas__topic col-4">
        <div id="nomeItem1" class="abas__topic-item flex--ct active">Tab 1</div>
        <div id="nomeItem2" class="abas__topic-item flex--ct">Tab 2</div>
        <div id="nomeItem3" class="abas__topic-item flex--ct">Tab 3</div>
    </div>
    
    <div class="abas__body col-8">
        <div id="tab-nomeItem1" class="abas__body-content active">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum fermentum in ut neque. Proin faucibus molestie fringilla. Sed vitae congue neque. In dictum laoreet velit a euismod. Aenean mattis rutrum fermentum. Proin non augue mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum.</p>
        </div>
        <div id="tab-nomeItem2" class="abas__body-content">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus fugiat sequi suscipit impedit. Commodi omnis excepturi vel cumque ipsam, voluptatibus ad debitis obcaecati tempore sed dolorum dolore reiciendis voluptatum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nulla harum velit veniam ipsam atque inventore. Reprehenderit, a blanditiis? Vero iure incidunt quibusdam, dolores repellendus autem voluptates animi aperiam! Voluptate.</p>
        </div>
        <div id="tab-nomeItem3" class="abas__body-content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat blanditiis, sapiente, ipsa itaque repudiandae fuga impedit accusantium illo iure asperiores eius nemo deleniti ullam aperiam labore debitis. Praesentium, commodi voluptatibus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nemo quod minima doloribus possimus illo debitis! Repudiandae voluptatibus dolore, exercitationem blanditiis eaque non cumque quo nemo pariatur itaque, accusantium sequi.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus eius dolorum iusto, architecto doloribus iure est illo omnis odit dicta ad distinctio beatae temporibus minima suscipit veniam excepturi dignissimos doloremque.</p>
        </div>
    </div>
</div>

<div class="abas abas--img flex--st">
    <div class="abas__img col-4">
        <img src="https://picsum.photos/310/500" alt="Descrição da imagem" title="Descrição da imagem">
    </div>
    
    <div class="abas__content col-9">
        <div class="abas__topic flex--sb col-12">
            <div id="nomeItem1" class="abas__topic-item flex--ct col-4 active">Tab 1</div>
            <div id="nomeItem2" class="abas__topic-item flex--ct col-4">Tab 2</div>
            <div id="nomeItem3" class="abas__topic-item flex--ct col-4">Tab 3</div>
        </div>
        
        <div class="abas__body col-12">
            <div id="tab-nomeItem1" class="abas__body-content active">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum fermentum in ut neque. Proin faucibus molestie fringilla. Sed vitae congue neque. In dictum laoreet velit a euismod. Aenean mattis rutrum fermentum. Proin non augue mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum.</p>
            </div>
            <div id="tab-nomeItem2" class="abas__body-content">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus fugiat sequi suscipit impedit. Commodi omnis excepturi vel cumque ipsam, voluptatibus ad debitis obcaecati tempore sed dolorum dolore reiciendis voluptatum.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nulla harum velit veniam ipsam atque inventore. Reprehenderit, a blanditiis? Vero iure incidunt quibusdam, dolores repellendus autem voluptates animi aperiam! Voluptate.</p>
            </div>
            <div id="tab-nomeItem3" class="abas__body-content">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat blanditiis, sapiente, ipsa itaque repudiandae fuga impedit accusantium illo iure asperiores eius nemo deleniti ullam aperiam labore debitis. Praesentium, commodi voluptatibus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nemo quod minima doloribus possimus illo debitis! Repudiandae voluptatibus dolore, exercitationem blanditiis eaque non cumque quo nemo pariatur itaque, accusantium sequi.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus eius dolorum iusto, architecto doloribus iure est illo omnis odit dicta ad distinctio beatae temporibus minima suscipit veniam excepturi dignissimos doloremque.</p>
            </div>
        </div>
    </div>
</div>

<div class="abas abas--img abas--secondary flex--st">
    <div class="abas__img col-4">
        <img src="https://picsum.photos/310/500" alt="Descrição da imagem" title="Descrição da imagem">
    </div>
    
    <div class="abas__content col-9">
        <div class="abas__topic flex--sb col-12">
            <div id="nomeItem1" class="abas__topic-item flex--ct col-4 active">Tab 1</div>
            <div id="nomeItem2" class="abas__topic-item flex--ct col-4">Tab 2</div>
            <div id="nomeItem3" class="abas__topic-item flex--ct col-4">Tab 3</div>
        </div>
        
        <div class="abas__body col-12">
            <div id="tab-nomeItem1" class="abas__body-content active">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum fermentum in ut neque. Proin faucibus molestie fringilla. Sed vitae congue neque. In dictum laoreet velit a euismod. Aenean mattis rutrum fermentum. Proin non augue mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed aliquam erat. Sed laoreet dolor vel diam molestie, et egestas mi mattis. Curabitur in nibh vitae ipsum elementum.</p>
            </div>
            <div id="tab-nomeItem2" class="abas__body-content">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At accusamus fugiat sequi suscipit impedit. Commodi omnis excepturi vel cumque ipsam, voluptatibus ad debitis obcaecati tempore sed dolorum dolore reiciendis voluptatum.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea nulla harum velit veniam ipsam atque inventore. Reprehenderit, a blanditiis? Vero iure incidunt quibusdam, dolores repellendus autem voluptates animi aperiam! Voluptate.</p>
            </div>
            <div id="tab-nomeItem3" class="abas__body-content">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat blanditiis, sapiente, ipsa itaque repudiandae fuga impedit accusantium illo iure asperiores eius nemo deleniti ullam aperiam labore debitis. Praesentium, commodi voluptatibus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nemo quod minima doloribus possimus illo debitis! Repudiandae voluptatibus dolore, exercitationem blanditiis eaque non cumque quo nemo pariatur itaque, accusantium sequi.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus eius dolorum iusto, architecto doloribus iure est illo omnis odit dicta ad distinctio beatae temporibus minima suscipit veniam excepturi dignissimos doloremque.</p>
            </div>
        </div>
    </div>
</div>