<div class="card">
    <div class="card__img">
        <img src="https://picsum.photos/300/200" alt="Descrição da imagem" title="Descrição da imagem">
    </div>

    <div class="card__body">
        <h4 class="h4 card__body-title">Title</h4>
        <h6 class="h6 card__body-subitle">Subitle</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget porttitor nulla, in iaculis lorem. Nam ultricies ante libero, imperdiet molestie eros ultricies quis.</p>
    </div>
</div>

<div class="card">
    <div class="card__img">
        <img src="https://picsum.photos/300/200" alt="Descrição da imagem" title="Descrição da imagem">
    </div>

    <div class="card__body">
        <h4 class="h4 card__body-title">Title</h4>
        <h6 class="h6 card__body-subitle">Subitle</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget porttitor nulla, in iaculis lorem. Nam ultricies ante libero, imperdiet molestie eros ultricies quis.</p>
        
        <div class="btn card__btn">Button</div>
    </div>
</div>

<div class="card">
    <div class="card__header flex--sb">
        <h4 class="h4 card__body-title">Title with 2 lines Lorem ipsum dolor sit</h4>
        <i class="fa-solid fa-house"></i>
    </div>

    <div class="card__img">
        <img src="https://picsum.photos/300/200" alt="Descrição da imagem" title="Descrição da imagem">
    </div>

    <div class="card__body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget porttitor nulla, in iaculis lorem. Nam ultricies ante libero, imperdiet molestie eros ultricies quis.</p>
        
        <div class="btn card__btn">Button</div>
    </div>
</div>

<div class="card card--secondary">
    <div class="card__img">
        <img src="https://picsum.photos/300/200" alt="Descrição da imagem" title="Descrição da imagem">
    </div>

    <div class="card__body">
        <h4 class="h4 card__body-title">Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget porttitor nulla, in iaculis lorem. Nam ultricies ante libero, imperdiet molestie eros ultricies quis.</p>
        
        <div class="btn card__btn">Button</div>
    </div>
</div>

<div class="card flex--sb">
    <div class="card__img">
        <img src="https://picsum.photos/300/200" alt="Descrição da imagem" title="Descrição da imagem">
    </div>

    <div class="card__body">
        <h4 class="h4 card__body-title">Title</h4>
        <h6 class="h6 card__body-subitle">Subitle</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget porttitor nulla, in iaculis lorem. Nam ultricies ante libero, imperdiet molestie eros ultricies quis.</p>
        
        <div class="btn card__btn">Button</div>
    </div>
</div>

<a href="" class="card card--full">
    <div class="card__img">
        <img src="https://picsum.photos/300/200" alt="Descrição da imagem" title="Descrição da imagem">
    </div>

    <div class="card__body">
        <h4 class="h4 card__body-title">Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget porttitor nulla, in iaculis lorem. Nam ultricies ante libero, imperdiet molestie eros ultricies quis.</p>
    </div>
</a>

<a href="" class="card card--large">
    <div class="card__img">
        <img src="https://picsum.photos/300/200" alt="Descrição da imagem" title="Descrição da imagem">
    </div>

    <div class="card__body">
        <h4 class="h4 card__body-title">Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget porttitor nulla, in iaculis lorem. Nam ultricies ante libero, imperdiet molestie eros ultricies quis.</p>
    </div>
</a>