<footer>
    <div class="footer__container">
        <div class="footer__column">
            <a href="/"><img src="" alt="" title="" class="footer__logo"></a>
            
            <div class="footer__social">
                <a href=""><img src="./assets/icons/social/" alt="" title=""></a>
                <a href=""><img src="./assets/icons/social/" alt="" title=""></a>
                <a href=""><img src="./assets/icons/social/" alt="" title=""></a>
            </div>
        </div>
        
        <div class="footer__column">
            <ul>
                <li>
                    <a href="/pages/">Home</a>
                </li>
                <li>
                    <a href="/pages/">Quem Somos</a>
                </li>
                <li>
                    <a href="/pages/">Item</a>
                </li>
                <li>
                    <a href="/pages/">Item</a>
                </li>
            </ul>
        </div>
        
        <div class="footer__column">
            <div class="footer__news">
                <h5>Cadastre-se em nossa newsletter</h5>
                
                <form>
                    <input type="email" placeholder="Seu melhor e-mail">
                    <input type="submit" class="btn" value="Enviar">
                </form>
                
                <small>Assinando você concorda com os nossos <a href="/pages/" class="terms">Termos de uso e privacidade</a></small>
            </div>
        </div>
    </div>
    
    <div class="footer__credits">
        <div class="footer__credits-content">
            <small>© 2021 Copyright</small>
            <small><a href="/pages/">Termos de Política e Privacidade</a></small>
        </div>
    </div>
</footer>