/* ___ Fonts ___ */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* ___ Colors ___ */
/* ___ Media Query ___ */
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #F5F5F5;
  color: #191502;
  font-family: "Inter", "Roboto", "Calibri", "sans-serif";
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.style section {
  margin: 30px;
}
.style #chips section {
  display: flex;
}

::-webkit-scrollbar {
  background: #fff;
  border-radius: 10px;
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2569ED;
  border-radius: 5px;
}

.wrapper {
  margin: 0 auto;
  margin: 0 15px;
  position: relative;
}

.container {
  margin: 40px 0;
}

.flex--ct {
  display: flex;
  justify-content: center;
}
.flex--sb {
  display: flex;
  justify-content: space-between;
}
.flex--st {
  display: flex;
  justify-content: flex-start;
}
.flex--end {
  display: flex;
  justify-content: flex-end;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12 {
    width: 100%;
  }
}
.col-1, .col-m-1, .col-xs-1 {
  width: 8.3%;
}
.col-2, .col-m-2, .col-xs-2 {
  width: 16.6%;
}
.col-3, .col-m-3, .col-xs-3 {
  width: 25%;
}
.col-4, .col-m-4, .col-xs-4 {
  width: 33.4%;
}
.col-5, .col-m-5, .col-xs-5 {
  width: 41.6%;
}
.col-6, .col-m-6, .col-xs-6 {
  width: 50%;
}
.col-7, .col-m-7, .col-xs-7 {
  width: 58.3%;
}
.col-8, .col-m-8, .col-xs-8 {
  width: 66.7%;
}
.col-9, .col-m-9, .col-xs-9 {
  width: 75%;
}
.col-10, .col-m-10, .col-xs-10 {
  width: 83.3%;
}
.col-11, .col-m-11, .col-xs-11 {
  width: 91.6%;
}
.col-12, .col-m-12, .col-xs-12 {
  width: 100%;
}

h1, .h1 {
  font-family: "Inter", "Roboto", "Calibri", "sans-serif";
  font-size: 18px;
  font-weight: 580;
  line-height: 1.3em;
}

h2, .h2 {
  font-family: "Inter", "Roboto", "Calibri", "sans-serif";
  font-size: 36px;
  font-weight: 580;
  line-height: 1.2em;
}

h3, .h3 {
  font-family: "Inter", "Roboto", "Calibri", "sans-serif";
  font-size: 16px;
  font-weight: 580;
  line-height: 1.2em;
}

h6, .h6 {
  font-family: "Inter", "Roboto", "Calibri", "sans-serif";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2em;
}

p {
  font-family: "Inter", "Roboto", "Calibri", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}

span {
  font-family: "Inter", "Roboto", "Calibri", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
}

small {
  font-family: "Inter", "Roboto", "Calibri", "sans-serif";
  font-size: 8px;
  font-weight: 400;
  line-height: 1.2em;
}

.chips {
  align-items: center;
  background: #2569ED;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 10px 20px 10px 0;
  padding: 5px 15px;
  width: fit-content;
}
.chips__img {
  height: 18px;
  margin-right: 8px;
  width: 18px;
}
.chips__img img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}
.chips__text {
  color: #F5F5F5;
  font-size: 8px;
  font-weight: 400;
  transition: color 0.5s ease-in-out;
}
.chips--secondary {
  border: 1px solid #2569ED;
}
.chips--secondary .chips__text {
  color: #2569ED;
}
.chips--secondary.chips--clicable {
  transition: border 0.5s ease-in-out;
}
.chips--secondary.chips--clicable:hover {
  border: 1px solid #FFE600;
}
.chips--secondary.chips--clicable:hover .chips__text {
  color: #FFE600;
}
.chips--disabled {
  background: #E9E9E9;
  cursor: not-allowed;
}
.chips--disabled .chips__img {
  filter: grayscale(3);
}
.chips--disabled .chips__text {
  color: #B9B9B9;
}
.chips--clicable {
  text-decoration: none;
}
.chips--clicable:hover .chips__text {
  color: #FFE600;
}

.tooltip {
  padding: 5px;
  width: fit-content;
  z-index: 0;
}
.tooltip__txt {
  background: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
  color: #000;
  font-size: 14px;
  font-weight: 580;
  max-width: 250px;
  opacity: 0;
  padding: 10px 16px;
  transition: opacity 0.5s ease-in-out;
}
.tooltip__txt[data-show] {
  opacity: 1;
}
.tooltip__txt[data-popper-placement^=top] > .tooltip__arrow {
  bottom: -4px;
}
.tooltip__txt[data-popper-placement^=bottom] > .tooltip__arrow {
  top: -4px;
}
.tooltip__txt[data-popper-placement^=left] > .tooltip__arrow {
  right: -4px;
}
.tooltip__txt[data-popper-placement^=right] > .tooltip__arrow {
  left: -4px;
}
.tooltip__arrow {
  background: inherit;
  height: 8px;
  visibility: hidden;
  width: 8px;
}
.tooltip__arrow::before {
  background: inherit;
  content: "";
  height: 100%;
  position: absolute;
  transform: rotate(45deg);
  visibility: visible;
  width: 100%;
}

.abas {
  margin: 10px auto 30px;
  padding: 10px 20px;
}
.abas__topic-item {
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 580;
  padding: 10px 0;
  width: 100%;
  z-index: 2;
}
.abas__body-content {
  display: none;
}
.abas__body-content.active {
  display: block;
}
.abas.flex--sb {
  height: 33.3%;
}
.abas.flex--sb .abas__topic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.abas.flex--sb .abas__topic-item {
  height: 33.4%;
  width: 100%;
}

.hist {
  margin: 0;
  padding-left: 20px;
}
.hist__item {
  color: #191502;
  font-size: 16px;
  font-weight: 400;
  margin: 30px 0;
}
.hist__item--success::marker {
  color: #00A65059;
}
.hist__item--failed::marker {
  color: #A6000359;
}
.hist__item--info::marker {
  color: #2569ED59;
}
.hist__item-desc {
  align-items: center;
}
.hist__item-desc p {
  margin: 0;
}
.hist__item-desc span {
  font-size: 11px;
  margin-top: 10px;
}
.hist__item span {
  color: #B3B3B3;
}
.hist__item .tooltip {
  font-size: 14px;
}

.accordion {
  margin: 0 0 20px;
  position: relative;
  transition: margin 0.5s ease-in-out;
}
.accordion__header {
  align-items: center;
  cursor: pointer;
}
.accordion__header-title {
  font-size: 16px;
  font-weight: 580;
  margin: 0 25px 0 0;
  transition: color 0.5s ease-in-out;
}
.accordion__header-btn {
  margin-left: 20px;
  position: relative;
}
.accordion__header-btn::before, .accordion__header-btn::after {
  background: #191502;
  border-radius: 20px;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  transition: right 0.5s ease-in-out;
  width: 7px;
}
.accordion__header-btn::before {
  transform: rotate(45deg);
  right: 5px;
}
.accordion__header-btn::after {
  transform: rotate(-45deg);
}
.accordion__body {
  margin: 25px 0 0;
  max-height: 0;
  min-height: 0;
  opacity: 0;
  padding-bottom: 10px;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.accordion__body p {
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0;
}
.accordion__body * {
  opacity: 0;
  transition: all 0.7s ease-in;
}
.accordion.active {
  margin: 0 0 60px;
}
.accordion.active .accordion__header-btn::before {
  right: 0;
  transform: rotate(45deg);
}
.accordion.active .accordion__header-btn::after {
  right: 7px;
  transform: rotate(-45deg);
}
.accordion.active .accordion__body {
  max-height: 1000px;
  min-height: 10px;
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
.accordion.active .accordion__body * {
  opacity: 1;
}

header {
  background: #FFE600;
  border-radius: 0 0 15px 15px;
  margin-bottom: 40px;
  min-height: 275px;
  padding: 55px 0 0;
  position: relative;
}

.page {
  align-items: center;
}
.page__icon {
  align-items: center;
  background: #ffffff80;
  border-radius: 100%;
  color: #2569ED;
  font-size: 18px;
  height: 47px;
  width: 47px;
}
.page__title {
  margin: 0 15px;
  width: 67%;
}
.page__title h1, .page__title h6 {
  margin: 0;
}

.cartao {
  background: linear-gradient(45deg, rgba(58, 116, 233, 0.952) 0%, #1c88ec 27%, #d7eaf5 99%, white 100%);
  border-radius: 16px;
  bottom: -30px;
  box-sizing: border-box;
  flex-direction: column;
  height: 175px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 285px;
  padding: 15px 20px;
  position: absolute;
  width: 90%;
}
.cartao span {
  font-size: 11px;
  color: #d9d9d9;
}
.cartao__valor {
  color: #F5F5F5;
  font-weight: 500;
  letter-spacing: 0.07rem;
  margin-top: 7px;
}

/*# sourceMappingURL=style.css.map */
