.card {
    background: #ECE8FF;
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 30px;
    padding: 10px;
    width: 350px;
    
    @include MQ($L) {
        width: 33%;
    }
    
    @include MQ($M) {
        max-width: 100%;
        width: 48%;
    }
    
    @include MQ($XS) {
        width: 100%;
    }
    
    &__header {
        align-items: center;
        margin: 10px 5px 5px;
        
        i {
            font-size: 20px;
            margin: 0 0 5px 30px;
        }
        
        h4, &-title {
            margin: 0 0 10px;
        }
    }
    
    &__img {
        margin-bottom: 5px;
        margin-bottom: 10px;
        width: 100%;
        
        img {
            border-radius: 5px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
    
    &__body {
        color: #000;
        padding: 10px;
        
        h4, &-title {
            font-size: 24px;
            font-weight: $bold;
            margin: 0 0 5px;
        }
        
        h6, &-subtitle {
            font-size: 18px;
            font-weight: $medium;
            margin: 0 0 15px;
        }
        
        p {
            font-size: 16px;
            font-weight: $regular;
            margin: 0;
        }
    }
    
    &__btn {
        height: fit-content;
        margin: 15px 0 0;
    }
    
    &--secondary {
        padding: 0;
        width: 100%;
        
        .card {
            &__body {
                padding: 15px 20px 20px;
            }
            
            &__btn {
                margin: 15px 0 5px;
            }
        }
    }
    
    &.flex--sb {
        align-items: center;
        height: auto;
        max-width: 100%;
        padding: 0;
        width: 100%;
        
        .card {
            &__img {
                height: 100%;
                margin: 0;
                max-height: 100%;
                max-width: 250px;
                width: 40%;
            }
            
            &__body {
                padding: 20px;
                width: 60%;
            }
        }
    }
    
    &--full, &--large {
        padding: 0;
        position: relative;
        text-decoration: none;
        transition: opacity .5s ease-in-out;
        
        &:hover {
            opacity: .9;
        }
        
        &::before {
            border-radius: 5px;
            bottom: 0;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 0;
        }
        
        .card {
            &__img {
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                width: 100%;
            }
            
            &__body {
                bottom: 0;
                color: #fff;
                margin: 10px;
                position: absolute;
                z-index: 2;
            }
        }
    }
    
    &--full {
        height: 300px;
        max-height: 300px;
        width: 100%;
        
        &::before {
            background: linear-gradient(180deg, rgba(167, 167, 167, 0) 28.17%, #000000 91%);
        }
    }
    
    &--large {
        height: 380px;
        max-height: 380px;
        max-width: 100%;
        width: 100%;
        
        &::before {
            background: rgba(40, 40, 40, 0.6);
        }
    }
}