html:not([data-scroll='0']) {
    menu {
        box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    }
}

menu {
    background: $secondary;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    margin: 0;
    padding: 0;
    position: fixed;
    transition: all .5s;
    top: 0;
    width: 100vw;
    z-index: 10;
    
    nav {
        align-items: center;
        margin: auto;
        max-width: 100%;
    }
    
    ul {
        margin: 0;
        padding: 15px 0 0;
        transition: all .5s ease-in-out;
        flex-direction: column;
        width: 100%;
        
        li {
            list-style: none;
            margin: 0 0 0 10px;
            margin: 5px 0;
            
            a {
                color: $tertiary;
                display: inline-block;
                font-family: $font;
                font-size: 16px;
                font-weight: 400;
                margin: 0;
                padding: 15px 0px 15px 10px;
                position: relative;
                text-decoration: none;
                transition: color .5s ease-in-out;
                
                &:after {
                    background: $secondary;
                    bottom: 5px;
                    content: '';
                    height: 2px;
                    left: 20px;
                    opacity: 0;
                    position: absolute;
                    transition: width 1.3s ease-in-out, opacity .3s ease-in-out;
                    width: 0;
                }
                
                &:hover {                    
                    &:after {
                        opacity: 1;
                        left: 15px;
                        transform: none;
                        transition: width .3s ease-in-out, opacity .5s ease-in-out;
                        width: 0;
                    }
                }
            }
            
            ul {
                background: transparent;
                box-shadow: 0 3px 7px #1a1a1a;
                flex-direction: column;
                height: 0;
                left: 0;
                max-height: 0;
                opacity: 1;
                pointer-events: auto;
                position: relative;
                padding: 0 10px;
                top: 0;
                transform: translate(-10px, 0px);
                transition: max-height .5s ease-in-out, padding .3s ease-in-out, opacity .5s ease-in-out;
                
                li, a {
                    opacity: 1;
                    transition: opacity .7s ease-in-out;
                }
                
                li {
                    margin: 7px 0;
                    
                    a {
                        color: $secondary;
                        font-family: $font;
                        font-size: 16px;
                        font-weight: 400;
                        margin: 0;
                        min-width: 150px;
                        padding: 10px 20px;
                        transition: color .5s ease-in-out;
                        width: max-content;
                        
                        &:after {
                            background: $primary;
                            bottom: -5px;
                            left:10px;
                            opacity: 0;
                            transition: width 1s ease-in-out, opacity .3s ease-in-out;
                        }
                        
                        &:hover {
                            &:after {
                                background: $secondary;
                                bottom: 5px;
                                opacity: 1;
                                transition: width .3s ease-in-out, opacity .5s ease-in-out;
                                width: 0%;
                            }
                        }
                    }
                }
            }
        }
    }
    
    i {
        font-size: 16px;
        font-weight: 200;
        margin-left: 10px;
    }
}

.menu {
    &.is-active {
        .menu__content {
            left: 0;
            pointer-events: auto;
            z-index: 7;
        }
    }
    
    &__logo {
        width: auto;
        z-index: 8;
        
        img {
            transition: opacity .5s ease-in-out;
            margin-top: 5px;
            width: 90px;
            
            &:hover {
                opacity: .7;
            }
        }
    }
    
    &__container {
        align-items: center;
        height: 60px;
        max-width: 100vw;
        padding: 0;
        z-index: 2;
    }
    
    &__list {
        position: relative;
        transition: opacity .5s ease-in-out;
        
        &.disabled {
            opacity: 0;
            pointer-events: none;
        }
    }
    
    &__search {
        margin: 3px 0 0 0;
        position: relative;
        z-index: 8;
        
        &.active {
            .menu__search {
                &-input, &-close {
                    opacity: 1;
                }
                
                &-input {
                    pointer-events: auto;
                    z-index: 0;
                }
                
                &-glass {
                    opacity: 0;
                }
            }
        }
        
        &-input {
            background: $white;
            border: none;
            border-radius: 0;
            height: 37px;
            margin: 8px 40px 0 0;
            opacity: 0;
            outline: none;
            padding-right: 20px;
            pointer-events: none;
            position: absolute;
            right: 0;
            transition: opacity .5s ease-in-out;
            width: 220px;
            z-index: -1;
        }
        
        &-btn {
            background: transparent;
            display: block;
            width: 15px;
            height: 15px;
            margin: 10px 0;
            padding: 15px 16px;
            position: relative;
            transition: background .5s ease-in-out;
            
            &:hover {
                background: transparent;
            }
            
            &::after {
                display: none;
            }
            
            i {
                color: #fff;
                position: absolute;
            }
        }
        
        &-glass {
            font-size: 18px;
            margin: -7px;
            opacity: 1;
            transition: opacity .5s ease-in-out;
        }
        
        &-close {
            font-size: 22px;
            left: 50%;
            margin: 0 0 0 1px;
            opacity: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity .5s ease-in-out;
        }
    }
    
    &__link {
        &--dropdown {
            margin-bottom: 0;
            
            &::after {
                display: none;
            }
            
            i {
                font-size: 12px;
                margin-left: 3px;
            }
        } 
        
        &--third {
            position: initial;
            
            i {
                font-size: 18px;
                left: 85vw;
                pointer-events: none;
                position: absolute;
                right: auto;
                top: 7px;
                z-index: 5;
            }
        }
    }
    
    &__item {
        &--dropdown {
            .menu__dropdown {
                .menu__item--dropdown{
                    .menu__dropdown {
                        opacity: 0;
                    }
                    
                    &:hover, &:active {
                        .menu__dropdown {
                            opacity: 1;
                        }
                    }
                }
            }
            
            &:hover, &:active {
                .menu__dropdown {
                    height: auto;
                    max-height: 800px;
                    opacity: 1;
                    padding: 0;
                    pointer-events: all;
                    
                    div, li, a {
                        opacity: 1;
                    }
                }
            }
        }
        
        &--sub {
            position: initial;
        }
        
        &--third {
            margin: 0;
            padding: 0; 
            position: relative;
            transition: all .5s ease-in-out;
            
            ul {
                background: $black;
                height: auto;
                opacity: 0;
                pointer-events: none;
                top: 0;
                transition: opacity .5s ease-in;
                
                @include MQ($L) {
                    background: transparent;
                    box-shadow: none;
                    height: 0;
                    margin: -10px 0 0 15px;
                }
                
                @include MQ($M) {
                    width: 100%;
                }
                
                @include MQ($S) {
                    padding: 0 10px;
                }
                
                li {
                    @include MQ($M) {
                        margin: 20px 0 0 20px;
                    }

                    @include MQ($S) {
                        margin: 10px 0 0 10px;
                    }
                }
            }
            
            a {
                @include MQ($M) {
                    max-width: 90%;
                }
                
                @include MQ($S) {
                    max-width: 80%;
                }
                
                &:after {
                    display: block;
                    left: auto;
                    transform: none;
                }
            }
            
            &:hover, &:active {
                .menu__dropdown {
                    opacity: 1;
                    padding: 8px 15px;
                    pointer-events: all;
                    
                    @include MQ($M) {
                        height: auto;
                        padding: 0;
                    }
                    
                    @include MQ($S) {
                        margin: 0 0 20px 15px;
                    }
                    
                    div, li, a {
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    &__header {
        align-items: center;
        
        @include MQ($S) {
            padding: 10px 0;
        }
        
        @include MQ($S) {
            padding: 0;
        }
    }
    
    &__burguer {
        border-bottom: 2px solid $primary;
        cursor: pointer;
        padding: 10px 0;
        position: relative;
        transition: all .5s ease-in-out;
        width: 30px;
        z-index: 10;
        
        @include MQ($S) {
            margin: 3px 0 -3px;
        }

        @include MQ($XS) {
            padding: 7px 0;
            width: 25px;
        }
        
        &.is-active {
            margin: -15px -10px 0 10px;
            transform: rotate(45deg);
            
            @include MQ($S) {
                margin: -15px 0 0;
                transform: rotate(-40deg);
            }
            
            @include MQ($XS) {
                margin: -10px 0 0 -3px;
            }
            
            &::before {
                top: 20px;
                transform: rotate(-85deg);
                
                @include MQ($S) {
                    transform: rotate(85deg);
                }
                
                @include MQ($XS) {
                    top: 14px;
                }
            }
            
            &::after {
                opacity: 0;
            }
        }
        
        &::before, &::after {
            background: $primary;
            border-radius: 5px;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            transition: all .5s ease-in-out;
            width: 30px;
            
            @include MQ($XS) {
                width: 25px;
            }
        }
        
        &::before {
            top: 1px;
            
            @include MQ($XS) {
                top: 0;
            }
        }
        
        &::after {
            bottom: 7px;
            
            @include MQ($XS) {
                bottom: 5px;
            }
        }
    }
    
    &__content {
        @include MQ($L) {
            background: $secondary;
            box-shadow: 4px 20px 10px rgba(0, 0, 0, .5);
            bottom: 0;
            height: calc(100vh - 70px);
            opacity: 1;
            padding: 10px 30px 0 20px;
            pointer-events: none;
            position: fixed;
            left: -200%;
            transition: left .5s ease-in-out;
            width: 27%;
            z-index: -5;
        }
        
        @include MQ($M) {
            box-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
            position: relative;
            top: 0px;
            height: 100vh;
            width: 35%;
        }
        
        @include MQ($S) {
            width: 45%;
        }
        
        @include MQ($XS) {
            box-shadow: none;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0 15px 20px;
            width: 100%;
        }
    }
    
    &__dropdown {
        min-width: 150px;
        
        &-open {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            position: initial;
            margin: -37px 0 15px 0;
            width: 95%;
            
            i {
                color: $primary;
                font-size: 18px;
                font-weight: 400;
                transition: opacity .5s ease-in-out;
                
                &:hover {
                    opacity: .7;
                }
                
                @include MQ($M) {
                    font-size: 18px;
                }
                
                @include MQ($S) {
                    font-size: 24px;
                }
            }
        }
        
        &-content {
            @include MQ($L) {
                background: $secondary;
                box-shadow: none;
                display: block;
                height: 100%;
                left: -200%;
                margin-left: 10px;
                position: absolute;
                top: 0;
                transition: left .5s ease-in-out;
                width: 100%;
                z-index: 2;
            }
            
            @include MQ($S) {
                height: 90vh;
                padding: 20px 0 0;
            }
            
            &.is-active {
                left: 0;
                
                @include MQ($S) {
                    left: -10px;
                }
            }
            
            li a {
                color: #fff;
            }
        }
        
        &-close {
            color: $primary;
            cursor: pointer;
            font-size: 25px;
            left: -5px;
            padding: 10px;
            position: relative;
            top: 10px;
            transition: opacity .5s ease-in-out;
            
            &:hover {
                opacity: .7;
            }
            
            @include MQ($M) {
                left: -5px;
                top: 0;
            }
            
            @include MQ($M) {
                left: 0;
            }
            
            @include MQ($S) {
                font-size: 26px;
            }
        }
        
        &--third {
            background: $black;
            left: auto !important;
            padding: 0 30px 0 20px !important;
            right: -215px;
            top: -17px;
            
            li a {
                color: #fff;
                
                &:hover {
                    &:after {
                        background: #fff;
                    }
                }
            }
        }
    }
}