/* ___ Fonts ___ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font: 'Inter', 'Roboto', 'Calibri', 'sans-serif';
 
$thin: 100;
$light: 300;
$regular: 400;
$medium: 580;
$bold: 750;


/* ___ Colors ___ */
$primary: #2569ED;
$secondary: #FFE600;
$tertiary: #EEE9FF;
$gradient: linear-gradient(45deg, rgba(58, 116, 233, 0.952) 0%, rgb(28, 136, 236) 27%, rgb(215, 234, 245) 99%, rgba(255,255,255,1) 100%);

$black: #191502;
$gray-1: #C9C9C9;
$gray-2: #B3B3B3;
$white: #F5F5F5;

$status-success: #00A65059;
$status-failed: #A6000359;
$status-info: #2569ED59;


/* ___ Media Query ___ */
@mixin MQ($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

$XS: 450px;
$S: 500px;
$M: 600px;
$L: 770px;